<h2>New Log</h2>
<ul class="post-publish">
  <li>
    {{input value=title placeholder="Title"}}
  </li>
  <li>
    {{input value=category placeholder="Category"}}
  </li>
  <li>
    {{input value=amount placeholder="Amount"}}
  </li>
  <li>
    <button {{action "publishPost"}}>Log it!</button>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |post|}}
    <tr>
    <td>{{post.title}}</td>
    <td>{{post.category}}</td>  
    <td>{{post.amount}}</td>  
    <td>{{format-time post.timestamp}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}